<%- include('header'); -%>
<h1>Compose</h1>
<form action="" method="post">
    <p class="title">Title</p>
    <input type="text" name="postTitle" id="" style="width: 100%;">
    <p class="post">Post</p>
    <textarea name="postBody" id="" cols="30" rows="10" style="width: 100%;"></textarea>
    <button class="publish" type="submit">Publish</button>
</form>
<%- include('footer'); -%>